{% extends 'bookings/base.html' %}
{% load static %}
{% block title %}Make a Booking{% endblock %}
{% block content %}
<div class="background-image-booking">
    <div class="booking-form">
         <h1>Book a Table:</h1>
         <form method="POST">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" required>

            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>

            <label for="phone">Phone:</label>
            <input type="text" name="phone" id="phone" required>

            <label for="date">Date:</label>
            <input type="date" name="date" id="date" required>

            <label for="time">Time:</label>
            <select name="time" id="time">
                {% for t in times %}
                    <option value="{{ t }}">{{ t }}</option>
                {% endfor %}
            </select>

            <label for="guests">Guests:</label>
            <input type="number" name="guests" id="guests" required min="1">

            <button type="submit" class="confirm">Confirm Booking</button>
        </form>
    </div>
</div>
{% if error %}
<p class="error">{{ error }}</p>
{% endif %}
{% if success %}
<p class="success">{{ success }}</p>
{% endif %}
{% endblock %}